*{ font-family: 'Franklin Gothic Medium';}
/* el asterusco es un selector universal es decir tomará todos los elementos de la página*/

h2{font-family: 'Times New Roman';color:aquamarine;}
/Solo selecciona la etiqueta que estamos indicando en el selector/

.card{background-color: violet;}
/*Un selector de tipo clase se manda llamar con un punto seguido del que le dimos */

/Parte de section/
section{
    width: 70%; 
    background-color: cornflowerblue;
    float: left;
    margin: 10px;
}

/Parte del article/
article{
    margin: 0.5em 3em 0em 0em;
    padding: 0.5em 2em;
    background-color: crimson;
    border: 10px solid black;
} /top, right, bottom, left/
/*margin: 5em 3em, el primer término solo va a afectar arriba y abajo 
y el segundo va a afectar izquierda y derecha*/

aside{
    width: 25%;
    float: left;
    background-color: darkgoldenrod;
}

footer{
    background-color: blueviolet;
    width: auto;
    height: 60px;
    text-align: center;
    padding: 45px;
    margin: 10px;
    clear: both;
}
/* clear va a indicar que esa parte de quede en donde lo estás indicando, ejemplo both siempre queda hasta abajo*/


/Medidas absolutas: pixeles son medidas que no van a cambiar en el proyecto "px"/
/Medidas relativas: em se utiliza para hacer refrencia a la fuente del navegador, rem se adapta a la fuente raiz del html/
/*Medidas flexibles: vw se calcula respecto al ancho del viewport ejemplo 100 vw es igual al 100% de la ventana 
vh se calcula respecto a la altura del viewport
vmin/vmax se calculan respecto al ancho del viewport*/